.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(61, 124, 75, 0.15);
    border: 1px solid rgba(61, 124, 75, .2);
}

.themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 255, 106, 0.15);
    border: 1px solid rgba(0, 255, 106 .2);
}